<tr>
  <th scope="row"><%= line.id %></th>
  <td><%= line.product.name %></td>
  <td><%= line.product.volume %></td>
  <td><%= line.quantity %></td>
  <td>1</td>
  <td>1</td>
  <td>1</td>
  <td class="minimal">
    <%= link_to edit_admin_datasheet_line_path(line), class: 'btn btn-info' do %>
      <i class="bi bi-pencil-square"></i> EDIT
    <% end %>

    <%= button_to admin_datasheet_line_path(line), class: "btn btn-danger",
                  method: :delete, form: { data: { turbo: true, turbo_confirm: 'Are you sure?', method: :delete } } do %>

      <i class="bi bi-trash"></i> DELETE
    <% end %>
  </td>
</tr>
