<%= turbo_frame_tag datasheet_line do %>
  <div class="row datasheet_line_row">
    <div class="col-1">
      <%= datasheet_line.id %>
    </div>

    <div class="col-2">
      <%= datasheet_line.product&.name %>
    </div>

    <div class="col-2">
      <%= datasheet_line.product&.volume %>
    </div>

    <div class="col-2">
      <%= datasheet_line.quantity %>
    </div>

    <div class="col-2 minimal">
      <%= link_to edit_admin_datasheet_line_path(datasheet_line), class: "btn btn-info",
                    data: { turbo_stream: true } do %>

        <i class="bi bi-pencil-square"></i> EDIT
      <% end %>

      <%= button_to admin_datasheet_line_path(datasheet_line), class: "btn btn-danger",
                    method: :delete, form: { data: { turbo_stream: true, method: :delete } } do %>

        <i class="bi bi-trash"></i> DELETE
      <% end %>
    </div>
  </div>
<% end %>
