<%= turbo_frame_tag datasheet_line do %>

  <div class="row datasheet-row">
    <div class="col-1">
      <%= datasheet_line.id %>
    </div>

    <div class="col">
      <%= item&.name %>
    </div>

    <div class="col-1">
      <%= item&.volume %>
    </div>

    <div class="col-1">
      <%= item&.unit %>
    </div>

    <div class="col-1">
      <%= humanized_money_with_symbol item&.purchase_price_cents %>
    </div>

    <div class="col-1">
      <%= datasheet_line.quantity %>
    </div>

    <div class="col-2">
      <%= humanized_money_with_symbol Money.new(datasheet_line.calculated_price) %>
    </div>

    <div class="col-1">
      <%= link_to edit_admin_item_datasheet_datasheet_line_path(@item, datasheet_line), class: "btn btn-info",
                    data: { turbo_stream: true } do %>

        <i class="bi bi-pencil-square"></i>
      <% end %>

      <%#= button_to admin_item_datasheet_datasheet_line_path(@item, datasheet_line), class: "btn btn-danger",
                    method: :delete, form: { data: { turbo_stream: true, method: :delete } } do %>

        <i class="bi bi-trash"></i>
      <%# end %>
    </div>
  </div>
<% end %>
