<%= simple_form_for([:admin, @datasheet, new_line] ) do |f| %>
  <tr>
    <td>
      <%= f.input :product_id, as: :select, collection: Product.all %>
    </td>
    <td>
      <%= new_line&.product&.volume %>
    </td>
    <td>
      <%= f.input :quantity %>
    </td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td class="minimal">
      <%= f.button :submit, "Save", class: "form-btn"  %>
    </td>
  </tr>
<% end %>

