<%= turbo_frame_tag 'totals' do %>
  <hr>
  <div class="row datasheet_line_footer">
    <div class="col-1">$<small class="now">(Now)</small></div>
    <div class="col">CMV<small class="now">(Now)</small></div>
    <div class="col-1"></div>
    <div class="col-1">$<small class="new">(New)</small></div>
    <div class="col-1"></div>
    <div class="col-2">CMV<small class="new">(New)</small></div>
    <div class="col-1">TOTAL</div>
    <div class="col"></div>
  </div>

  <div class="row datasheet_line_footer">
    <div class="col-1">
      <%= humanized_money_with_symbol Money.new(datasheet.item.customer_price_cents) %>
    </div>
    <div class="col">
      <%= datasheet.calculate_cmv(datasheet.item.customer_price.to_d).round(2) %> %
    </div>

    <div class="col-1"></div>
    <div class="col-1">
      <%= text_field_tag "datasheet-price", nil, class: 'inline-datasheet-price col-1',
                         data: { url: calculate_cmv_admin_datasheet_path(@datasheet) } %>
    </div>
    <div class="col-1"><i class="fas fa-sync datasheet-price-refresh"></i></div>
    <div class="col-2 datasheet-cmv"></div>
    <div class="col-1">
      <%= humanized_money_with_symbol Money.new(datasheet.get_total_price) %>
    </div>
    <div class="col"></div>
  </div>
<% end %>


