<div class="container jigger-form">
  <%= simple_form_for(model, html: { class: 'row row-cols' } ) do |f| %>

    <%= render partial: 'layouts/shared/form/header',
               locals: { title: 'Add/Save Item',
                         subtitle: 'Item details' } %>

    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-8">
            <%= f.input :name, hint: 'Menu name', wrapper_html: { class: 'jigger-label' } %>
          </div>

          <div class="col-4">
            <%= f.association :category, as: :select,
                              collection: Category.active.order(:name),
                              prompt: 'Select a category',
                              hint: 'Menu released at',
                              wrapper_html: { class: 'jigger-label' } %>
          </div>
        </div>

        <div class="row">
          <div class="col-3">
            <%= f.input :unit, as: :select, collection: Unit.all,
                        prompt: 'Select unit type',
                        wrapper_html: { class: 'jigger-label' } %>

          </div>

          <div class="col-3">
            <%= f.input :volume, label: 'Volume', hint: 'Enter Item volume',
                        wrapper_html: { class: 'jigger-label' } %>
          </div>

          <div class="col-6">
            <%= f.input :best_before,
                        as: :date,
                        hint: 'Item best before date',
                        wrapper_html: { class: 'jigger-label' } %>
          </div>
        </div>

        <div class="row">
          <div class="col-3">
            <%= f.input :purchase_price_cents,
                        label: 'Purchase Price',
                        hint: 'Enter Purchase Price',
                        wrapper_html: { class: 'jigger-label' } %>

          </div>

          <div class="col-3">
            <%= f.input :customer_price_cents,
                        label: 'Customer Price',
                        hint: 'Enter Customer Price',
                        wrapper_html: { class: 'jigger-label' } %>
          </div>

          <div class="col-6">
            <%= f.input :prep_method,
                        as: :text,
                        hint: 'Item prepare method of this item',
                        wrapper_html: { class: 'jigger-label' } %>
          </div>
        </div>

        <div class="row">
          <div class="col-3">
            <%= f.input :status, label: 'Status (Active)', hint: 'Is this item active?',
                        wrapper_html: { class: 'jigger-label' } %>
          </div>

          <div class="col-3">
            <%= f.input :data_imported, label: 'Data Imported?', hint: 'Is this item data imported?',
                        wrapper_html: { class: 'jigger-label' } %>
          </div>
        </div>

        <div class="row">
          <div class="col-3">
            <%= f.button :submit, "Add/Save Item", class: "form-btn"  %>
          </div>
        </div>
  <% end %>
  </div>

  <div class="col-4">
    <div class="vertical-line">
      <%= render partial: 'admin/menus/organization_info' %>
    </div>
  </div>
  </div>
</div>

