<div class="row">
  <div class="col-8">
    <div class="container jigger-form">
      <div class="row">
        <div class="col-12">
          <%= render partial: 'admin/items/partials/item_info' %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="container jigger-form category-performance">
      <%= render partial: 'admin/menus/partials/category_performance' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-8">
    <div class="container jigger-form child-list">
      <div class="row">
        <div class="col-6">
          <%= render partial: 'admin/items/partials/sales_performance' %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-3">
    <div class="container jigger-form child-list sale-item blue">
      <%= render partial: 'layouts/shared/sale_items/sale_item' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-8">
    <div class="container jigger-form child-list">
      <div class="row">
        <div class="col-6">
          <%= render partial: 'admin/items/partials/sales_by_user' %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="container jigger-form weekly-sales">
      <%= render partial: 'admin/items/partials/weekly_sales' %>
    </div>
  </div>
</div>