<div class="card-header">
  <div class="row">
    <div class="col-4">
      <h4 class="card-title text-left"><%= item.name %></h4>
    </div>
    <div class="col-2">
      <%= item.boolean_label(item.status) %>
    </div>

    <div class="col-4">
      <%= item.boolean_label(item.data_imported,
                             label = { true => 'Data Imported',
                                       false => 'Not Imported' }) %>
    </div>
  </div>

  <div class="row">
    <div class="col-7 item-image">
      <div><b>IMAGE</b></div>
    </div>

    <div class="col-5 item-description">
      <div class="row jigger-label">
        <div class="col-6 align-left info-description">
          <%= humanized_money_with_symbol Money.new(item.customer_price) %>
        </div>
        <div class="col-6 align-right info-label">Price ($)</div>
      </div>

      <div class="row jigger-label">
        <div class="col-6 align-left info-description"><%= item&.category&.name %></div>
        <div class="col-6 align-right info-label">Category</div>
      </div>

      <div class="row jigger-label">
        <div class="col-6 align-left info-description"><%= item&.volume %></div>
        <div class="col-6 align-right info-label">Volume</div>
      </div>

      <div class="row jigger-label">
        <div class="col-6 align-left info-description"><%= item&.best_before %></div>
        <div class="col-6 align-right info-label">Best Before</div>
      </div>

      <div class="row jigger-label">
        <div class="align-center info-label">Prep Method</div>
      </div>
      <div class="text-center info-label"><%= item.prep_method %></div>
    </div>
  </div>
</div>