<h2 class="display-4">
  <%= @organization.name %> (Organization)
</h2>

<div class="form-action">
    <div class="grid-item">
    <%= button_to 'EDIT', edit_admin_organization_path(@organization),
                  class: "btn btn-info shadow-sm px-4 mb-2",
                  :method => :get %>
  </div>

  <div class="grid-item">
    <%= button_to 'REMOVE', admin_organization_path(@organization),
                  class: "btn btn-warning shadow-sm px-4 mb-2",
                  :method => :delete %>
  </div>
</div>

<p class="lead mb-0">Build a fixed sidebar using Bootstrap 4 vertical navigation and media objects.</p>
<p class="lead">Snippet by <a href="https://bootstrapious.com/snippets" class="text-white">
  <u>asdf</u></a>
</p>

<div class="separator"></div>

<div class="container-fluid p-0">
  <div class="row">
    <%= render partial: 'layouts/cards/menu_card',
               locals: { url: admin_organization_path(@organization),
                         title: 'Departments',
                         text: "#{@organization.name} Departments" } %>

    <%= render partial: 'layouts/cards/menu_card',
               locals: { url: admin_organization_user_organizations_path(@organization),
                         title: 'Staff',
                         class: '',
                         text: "#{@organization.name} Staff" } %>


    <%= render partial: 'layouts/cards/menu_card',
               locals: { url: admin_organization_menus_path(@organization),
                         title: 'Menus',
                         class: '',
                         text: "#{@organization.name} Menus" } %>

  </div>
</div>

