<h2 class="display-4 text-white">
  Products (<%= @organization.name %>)
</h2>

<div class="separator"></div>

<div class="container">
  <%= simple_form_for(model, html: { class: 'jform row row-cols align-items-center' } ) do |f| %>

    <div class="card-header">
      <h5 class="card-title text-center">New Product</h5>
    </div>

    <legend><span class="number">1</span> Detail</legend>

    <div class="row">
      <div class="col-12">
        <%= f.input :name %>
      </div>
    </div>

    <legend><span class="number">2</span> Volume & Preparation </legend>

    <div class="row">
      <div class="col-2">
        <%= f.input :unit, as: :select, collection: Unit.select_options %>
      </div>

      <div class="col-2">
        <%= f.input :volume %>
      </div>

      <div class="col-4">
        <%= f.input :best_before %>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <%= f.input :prep_method %>
      </div>
    </div>

    <legend><span class="number">3</span> Price </legend>

    <div class="row">
      <div class="col-4">
        <%= f.input :price_cents %>
      </div>

      <div class="col-4">
        <%= f.input :status %>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <%= f.button :submit, "Save", class: "form-btn" %>
      </div>
    </div>
  <% end %>
</div>


