<div class="container">
  <%= simple_form_for(model,
                      html: { class: 'jigger-form row row-cols' } ) do |f| %>

    <div class="card-header">
      <h4 class="card-title text-left">Add/Save Menu</h4>
    </div>

    <legend>Menu details</legend>

    <div class="row">
      <div class="col-8">
        <%= f.input :name, hint: 'Menu name', wrapper_html: { class: 'jigger-label' } %>
      </div>

      <div class="col-4">
        <%= f.input :release_date, as: :date, hint: 'Menu released at',
                    wrapper_html: { class: 'jigger-label' } %>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <%= f.input :status, label: 'Status (Active)', hint: 'Is this menu active?',
                    wrapper_html: { class: 'jigger-label' } %>
      </div>

      <div class="col-3">
        <%= f.input :data_imported, label: 'Data Imported?', hint: 'Is this menu data imported?',
                    wrapper_html: { class: 'jigger-label' } %>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <%= f.input :description, hint: 'Menu description (e.g where it is from)',
                    wrapper_html: { class: 'jigger-label' } %>
      </div>
    </div>

    <div class="row">
      <%= f.button :submit, "Save", class: "form-btn"  %>
    </div>

  <% end %>
</div>


