<!DOCTYPE html>
<html>
<head>
  <title>MyJigger</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "jigger", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "form", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jigger" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<%= render 'layouts/error_messages' %>
<%= render 'layouts/vertical' %>

<div class="page-content p-5" id="content">
  <%= render 'layouts/toggle_button' %>
  <%= yield %>
</div>

<%= render 'layouts/footer' %>
</body>
</html>
